<header>
  <h1 class="page-title">CRUD Sala</h1>
</header>
<div class="container p-5">
  <div class="row">
    <!--Listar-->
    <div class="col-6 border border-light rounded p-5 shadow">
      <h6 class="title-fontsize">Lista Salas</h6>
      <table class="table table-striped" *ngIf="ListSalas && ListSalas.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Capacidade</th>
            <th>Tipo da Sala</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sala of ListSalas">
            <td>{{ sala.idSala}}</td>
            <td>{{ sala.capacidade }}</td>
            <td>{{ sala.tipoSala }}</td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary" (click)="listar()">Listar</button>
        </div>
      </div>
    </div>
    <!-- Buscar por ID -->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formularioBuscar">
      <h6 class="title-fontsize">Buscar Sala por ID</h6>
      <form [formGroup]="formularioBuscar" (ngSubmit)="buscar()">
        <div class="form-group">
          <label class="bold">ID do Doce</label>
          <input type="number" class="form-control form-control-sm" formControlName="idSala" />
        </div>
        <div class="form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-sm btn-primary" (click)="buscar()">Buscar por ID</button>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <table class="table table-striped" *ngIf="nomeSalaEncontrado">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Capacidade</th>
                  <th>Tipo da Sala</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="nomeSalaEncontrado">
                  <td>{{ nomeSalaEncontrado.idSala}}</td>
                  <td>{{ nomeSalaEncontrado.capacidade }}</td>
                  <td>{{ nomeSalaEncontrado.tipoSala }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
    <!--Cadastrar-->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Cadastrar Sala</h6>
      <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
        <div class="form-group">
          <label class="bold">Id Sala</label>
          <div>Preenchido automaticamente</div>
        </div>
        <div class="form-group">
          <label class="bold">Capacidade da Sala</label>
          <input type="text" class="form-control form-control-sm" formControlName="capacidade" />
        </div>
        <div class="form-group">
          <label class="bold">Tipo da Sala</label>
          <input type="text" class="form-control form-control-sm" formControlName="tipoSala" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="cadastrar" class="btn btn-sm btn-primary">Cadastrar</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()"
                class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Alterar Sala -->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Alterar Sala</h6>
      <form [formGroup]="formulario" (ngSubmit)="alterar()">
        <div class="form-group">
          <label class="bold">Id da Sala</label>
          <input type="number" class="form-control form-control-sm" formControlName="idSala" />
        </div>
        <div class="form-group">
          <label class="bold">Capacidade da Sala</label>
          <input type="text" class="form-control form-control-sm" formControlName="capacidade" />
        </div>
        <div class="form-group">
          <label class="bold">Tipo da Sala</label>
          <input type="text" class="form-control form-control-sm" formControlName="tipoSala" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-primary">Alterar</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()" class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Excluir Sala -->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Excluir Sala</h6>
      <form [formGroup]="formulario" (ngSubmit)="excluir()">
        <div class="form-group">
          <label class="bold">Id da Sala</label>
          <input type="number" class="form-control form-control-sm" formControlName="idSala" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()" class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>