.title-fontsize {
    font-size: 20px; /* Defina o tamanho da fonte desejado */
    font-weight: bold;
    text-align: center;
  }
.bold {
    font-weight: bold;
} 
.page-title {
  margin-top: 50px; /* Ajuste o valor conforme necessário para mover o título para baixo */
        text-align: center;
        padding: 10px;
}