<header>
    <h1 class="page-title">CRUD Venda</h1>
  </header>
  <div class="container p-5">
    <div class="row">
      <!--Listar-->
      <div class="col-6 border border-light rounded p-5 shadow">
        <h6 class="title-fontsize">Lista Vendas</h6>
        <table class="table table-striped" *ngIf="ListVenda && ListVenda.length > 0">
          <thead>
            <tr>
              <th>Id</th>
              <th>data</th>
              <th>Preço Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venda of ListVenda">
              <td>{{ venda.idVenda}}</td>
              <td>{{ venda.data }}</td>
              <td>R${{ venda.precoTotalVenda }}</td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary" (click)="listar()">Listar</button>
          </div>
        </div>
      </div>
      <!-- Buscar por ID -->
      <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formularioBuscar">
        <h6 class="title-fontsize">Buscar Venda por ID</h6>
        <form [formGroup]="formularioBuscar" (ngSubmit)="buscar()">
          <div class="form-group">
            <label class="bold">ID da Sala</label>
            <input type="number" class="form-control form-control-sm" formControlName="idVenda" />
          </div>
          <div class="form-group">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-sm btn-primary" (click)="buscar()">Buscar por ID</button>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <table class="table table-striped" *ngIf="nomeVendaEncontrado">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>data</th>
                    <th>Preço Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="nomeVendaEncontrado">
                    <td>{{ nomeVendaEncontrado.idVenda}}</td>
                    <td>{{ nomeVendaEncontrado.data }}</td>
                    <td>R${{ nomeVendaEncontrado.precoTotalVenda }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <!--Cadastrar-->
      <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
        <h6 class="title-fontsize">Cadastrar Venda</h6>
        <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
          <div class="form-group">
            <label class="bold">Id Venda</label>
            <div>Preenchido automaticamente</div>
          </div>
          <div class="form-group">
            <label class="bold">Data da Venda</label>
            <input type="text" class="form-control form-control-sm" formControlName="data" />
          </div>
          <div class="form-group">
            <label class="bold">Preço Total</label>
            <input type="number" class="form-control form-control-sm" formControlName="precoTotalVenda" />
          </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="cadastrar" class="btn btn-sm btn-primary">Cadastrar</button>
              </div>
              <div class="pl-1">
                <button type="button" #cancelarButton (click)="reloadPage()"
                  class="btn btn-sm btn-light">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Excluir Sala -->
      <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
        <h6 class="title-fontsize">Excluir Venda</h6>
        <form [formGroup]="formulario" (ngSubmit)="excluir()">
          <div class="form-group">
            <label class="bold">Id da Venda</label>
            <input type="number" class="form-control form-control-sm" formControlName="idVenda" />
          </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
              </div>
              <div class="pl-1">
                <button type="button" #cancelarButton (click)="reloadPage()" class="btn btn-sm btn-light">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>