<header>
  <h1 class="page-title">CRUD Doce</h1>
</header>
<div class="container p-5">
  <div class="row">
    <!--Listar-->
    <div class="col-6 border border-light rounded p-5 shadow">
      <h6 class="title-fontsize">Lista Doces</h6>
      <table class="table table-striped" *ngIf="ListDoces && ListDoces.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doce of ListDoces">
            <td>{{ doce.idDoce}}</td>
            <td>{{ doce.nome }}</td>
            <td>R${{ doce.preco }}</td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary" (click)="listar()">Listar</button>
        </div>
      </div>
    </div>
    <!-- Buscar por ID -->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formularioBuscar">
      <h6 class="title-fontsize">Buscar Doce por ID</h6>
      <form [formGroup]="formularioBuscar" (ngSubmit)="buscar()">
        <div class="form-group">
          <label class="bold">ID do Doce</label>
          <input type="number" class="form-control form-control-sm" formControlName="idDoce" />
        </div>
        <div class="form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-sm btn-primary" (click)="buscar()">Buscar por ID</button>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <table class="table table-striped" *ngIf="ObjBuscado">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Preço</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="ObjBuscado">
                  <td>{{ ObjBuscado.idDoce}}</td>
                  <td>{{ ObjBuscado.nome }}</td>
                  <td>R${{ ObjBuscado.preco }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
    <!--Cadastrar-->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Cadastrar Doce</h6>
      <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
        <div class="form-group">
          <label class="bold">IdDoce</label>
          <div>Preenchido automaticamente</div>
        </div>
        <div class="form-group">
          <label class="bold">Nome</label>
          <input type="text" class="form-control form-control-sm" formControlName="nome" />
        </div>
        <div class="form-group">
          <label class="bold">Preço</label>
          <input type="number" class="form-control form-control-sm" formControlName="preco" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="cadastrar" class="btn btn-sm btn-primary">Cadastrar</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()"
                class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--Alterar-->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Alterar Bebida</h6>
      <form [formGroup]="formulario" (ngSubmit)="alterar()">
        <div class="form-group">
          <label class="bold">IdDoce</label>
          <input type="number" class="form-control form-control-sm" formControlName="idDoce" />
        </div>
        <div class="form-group">
          <label class="bold">Nome</label>
          <input type="text" class="form-control form-control-sm" formControlName="nome" />
        </div>
        <div class="form-group">
          <label class="bold">Preço</label>
          <input type="number" class="form-control form-control-sm" formControlName="preco" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-primary">Alterar</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()"
                class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--Excluir-->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Excluir Doce</h6>
      <form [formGroup]="formulario" (ngSubmit)="excluir()">
        <div class="form-group">
          <label class="bold">IdDoce</label>
          <input type="number" class="form-control form-control-sm" formControlName="idDoce" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-primary">Excluir</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()"
                class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>