<header>
  <h1 class="page-title">CRUD Filme</h1>
</header>
<div class="container p-5">
  <div class="row">
    <!--Listar-->
    <div class="col-12 border border-light rounded p-5 shadow">
      <h6 class="title-fontsize">Lista Filmes</h6>
      <table class="table table-striped" *ngIf="filmes && filmes.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Duração</th>
            <th>Classificação</th>
            <th>Direção</th>
            <th>Categoria</th>
            <th>Sala</th> <!-- Adicionado -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filme of filmes">
            <td>{{ filme.idFilme}}</td>
            <td>{{ filme.nomeFilme }}</td>
            <td>{{ filme.duracao }}</td>
            <td>{{ filme.classificacao }}</td>
            <td>{{ filme.diretor }}</td>
            <td>{{ filme.categoria }}</td>
            <td>{{ filme.sala?.tipoSala }}</td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary" (click)="listar()">Listar</button>
        </div>
      </div>
    </div>
    <!-- Buscar por ID -->
    <div class="col-12 border border-light rounded p-5 shadow" *ngIf="formularioBuscar">
      <h6 class="title-fontsize">Buscar Filme por ID</h6>
      <form [formGroup]="formularioBuscar" (ngSubmit)="buscar()">
        <div class="form-group">
          <label class="bold">ID do Filme</label>
          <input type="number" class="form-control form-control-sm" formControlName="idfilme" />
        </div>
        <div class="form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-sm btn-primary" (click)="buscar()">Buscar por ID</button>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <table class="table table-striped" *ngIf="nomeFilmeEncontrado">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Duração</th>
                  <th>Classificação</th>
                  <th>Direção</th>
                  <th>Categoria</th>
                  <th>Sala</th> <!-- Adicionado -->
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="nomeFilmeEncontrado">
                  <td>{{ nomeFilmeEncontrado.idFilme}}</td>
                  <td>{{ nomeFilmeEncontrado.nomeFilme }}</td>
                  <td>{{ nomeFilmeEncontrado.duracao }}</td>
                  <td>{{ nomeFilmeEncontrado.classificacao }}</td>
                  <td>{{ nomeFilmeEncontrado.diretor }}</td>
                  <td>{{ nomeFilmeEncontrado.categoria }}</td>
                  <td>{{ nomeFilmeEncontrado.sala?.tipoSala }}</td> <!-- Adicionado -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
    <!-- Cadastrar Filme -->
<div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
  <h6 class="title-fontsize">Cadastrar Filme</h6>
  <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
    <div class="form-group">
      <label class="bold">idfilme</label>
      <div>Preenchido automaticamente</div>
    </div>
    <div class="form-group">
      <label class="bold">Nome do Filme</label>
      <input type="text" class="form-control form-control-sm" formControlName="nomeFilme" />
    </div>
    <div class="form-group">
      <label class="bold">Duração</label>
      <input type="text" class="form-control form-control-sm" formControlName="duracao" />
    </div>
    <div class="form-group">
      <label class="bold">Classificação</label>
      <input type="text" class="form-control form-control-sm" formControlName="classificacao" />
    </div>
    <div class="form-group">
      <label class="bold">Diretor</label>
      <input type="text" class="form-control form-control-sm" formControlName="diretor" />
    </div>
    <div class="form-group">
      <label class="bold">Categoria</label>
      <input type="text" class="form-control form-control-sm" formControlName="categoria" />
    </div>
    <div class="form-group">
      <label class="bold">Sala</label>
      <select class="form-control form-control-sm" formControlName="idSala">
        <option *ngFor="let sala of ListSalas" [value]="sala.idSala">{{ sala.tipoSala }}</option>
      </select>
    </div>
    <div class="container">
      <div class="row">
        <div>
          <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
        </div>
        <div class="pl-1">
          <button type="button" #cancelarButton (click)="reloadPage()" class="btn btn-sm btn-light">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
    <!-- Alterar Filme -->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Alterar Filme</h6>
      <form [formGroup]="formulario" (ngSubmit)="alterar()">
        <div class="form-group">
          <label class="bold">Id do Filme</label>
          <input type="number" class="form-control form-control-sm" formControlName="idFilme" />
        </div>
        <div class="form-group">
          <label class="bold">Nome do filme</label>
          <input type="text" class="form-control form-control-sm" formControlName="nomeFilme" />
        </div>
        <div class="form-group">
          <label class="bold">Duração</label>
          <input type="text" class="form-control form-control-sm" formControlName="duracao" />
        </div>
        <div class="form-group">
          <label class="bold">Classificação</label>
          <input type="text" class="form-control form-control-sm" formControlName="classificacao" />
        </div>
        <div class="form-group">
          <label class="bold">Diretor</label>
          <input type="text" class="form-control form-control-sm" formControlName="diretor" />
        </div>
        <div class="form-group">
          <label class="bold">Categoria</label>
          <input type="text" class="form-control form-control-sm" formControlName="categoria" />
        </div>
        
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-primary">Alterar</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()" class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Excluir Filme -->
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="title-fontsize">Excluir Filme</h6>
      <form [formGroup]="formulario" (ngSubmit)="excluir()">
        <div class="form-group">
          <label class="bold">Id do Filme</label>
          <input type="number" class="form-control form-control-sm" formControlName="idFilme" />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
            </div>
            <div class="pl-1">
              <button type="button" #cancelarButton (click)="reloadPage()" class="btn btn-sm btn-light">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
