<div class="container p-5">
    <div class="row">
      <!--Cadastrar Filme-->
      <div
        class="col-6 border border-light rounded p-5 shadow"
        *ngIf="formulario"
      >
        <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          <div class="form-group">
            <label>NomeFilmes</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="Nome Filme"
            />
          </div>
          <div class="form-group">
            <label>Duração</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="duracao"
            />
            </div>
          <div class="form-group">
            <label>Classificação</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="classificacao"
            />
            </div>
          <div class="form-group">
            <label>Diretor</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="diretor"
            />
            </div>
          <div class="form-group">
            <label>Categoria</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="categoria"
            />
          </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Salvar
                </button>
              </div>
              <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light">Voltar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>